body {
    background-color: lightcyan;
}

dl {
    display: inline;
    
}
dt {
    font-weight: bold;
    margin-right: 10px;
}
dd {
    margin: 0;
}
img{
    width: 20%;
    height: auto;
}
footer{
    text-align: center;
    padding: 5px;
    width: 100%;
    bottom: 0;
    position: relative;
}
.pdf{
    color: blue;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .pdf:hover {
    color: purple;
  }
  /* Form Container */
  .contact-form {
    max-width: 600px;
    margin: 30px auto;
    padding: 25px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    font-family: 'Segoe UI', sans-serif;
  }